html, body {
	font-family: Bookman Old Style;
	font-size: 0.9em;
	background: #F4F4F4 url('../images/bg_image.png');	
	margin: 0 auto;
	height: 100%;
}
#headerSection {
	border:0px solid grey;
	#overflow:hidden;
	#background: #46B2A2;
	#margin: -20px;
	margin-left: 0px;
	margin-right: 0px;
	background: url('../images/sunrise.jpg');
	#background-size: 1263px 100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	#background-position: left top;
	#max-height: 300px;
	#max-width: 1265px;
	min-height: 8%;
	background-position: 50%;
}
#headerSection span, nav{
	#display:inline-block;
	#width:100%;
}
#headerSection span{
	font-style: oblique;
	font-family: Bookman Old Style;
	font-size: 1.7em;
}

#headerSection  nav{
	#padding-left: 9%;
	text-align:right;
}
#headerSection ul {
	margin: 0;
	padding:0;
}
#headerSection ul li {
	display: inline;
	margin:5px;
}
#headerSection ul li a {
	text-decoration: none;
	text-transform: uppercase;
	#font-family: arial;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	width: 80px;
	background-color: black;
	border-radius: 4px;
	padding: 0.06em;
	text-align: center;
	box-shadow: 3px 5px 5px #888888;
}
footer{	
	border:0px solid grey;
	#margin:5px;
	padding:8px;
	text-align: justify;
	#background: #fff;
	min-width:270px;
	border-top: 1px solid #ccc;
	color: #555;
	#margin-top:20px;
}
section, article {
	border:0px solid grey;
	margin:3px;
	padding:8px;
	text-align: justify;
	background: #fff;
	min-width:250px;
}
#mainSection{
	min-width:270px;
	max-width:1038px;
	#margin-left: 8%;
	margin-top: 20px;
	position:relative; 
	#top:20px;
	bottom:0; 
	left:0; 
	right:0;
	margin:auto;
	min-height:85%;
}
#subSectionTop {
	overflow:hidden;
	margin-bottom: 25px;
}
#subSectionTop article:nth-child(1){
	width: 27%;
	min-width:220px;
	#position: relative;
	float: left;
}
#subSectionTop article:nth-child(2){
	width: 67%;
	#color:red;
	#min-width:350px;
	#position: relative;
	float: left;
	min-width:220px;
	font-size: 13pt;
	#font-style: oblique;
	line-height: 1.5;
}

#subSectionBottom {
	overflow:hidden;
	min-width:220px;
}
#subSectionBottom article {	
	width:30%;
	background: rgba(229, 227, 231, 1);
	border-radius: 10px;
	float: left;
	min-width:220px;
	min-height: 380px;
}
#subSectionBottom ul {
	font-size: 13pt;
}
/*	Making responsive	*/
article img { 
	width:auto;
	max-width:80%;
	height:auto;
	padding-top: 1%;
}
/*	End making responsive	*/
.circular {
	margin: 0 auto;
	width: 220px;
	height: 220px;
	#border-radius: 110px;
	#-webkit-border-radius: 110px;
	#-moz-border-radius: 110px;
	#width: 90%;
	#height: auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url(../images/disp_pic.jpg) no-repeat;
	#box-shadow: 0 0 8px rgba(0, 0, 0, .4);
	#-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	#-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float: left;
	#margin-top: 60px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-width:220px;
}
.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	#max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	max-width:100%;
}

#articleTechnology{
	min-width:100px;
	margin-right: 1.5%;
}
#articleInterest{
	min-width:100px;
}
#articleCompany{
	min-width:100px;
	margin-right: 1.5%;
}
.technologyImages  img{
	width: 20%;
	margin-bottom: .3cm;
	margin-right: .2cm;
}
.headerSectionContact {
	min-width:339px;
}
#mainSectionContact1{
	min-width:321px;
	max-width:1038px;
	#margin-left: 8%;
	margin-top: 20px;
	position:relative; 
	#top:20px;
	bottom:0; 
	left:0; 
	right:0;
	margin:auto;
	min-height:85%;
}
#mainSectionContact2{
	min-width:321px;
	#max-width:1038px;
	#margin-left: 8%;
	margin-top: 20px;
	position:relative; 
	#top:20px;
	bottom:0; 
	left:0; 
	right:0;
	margin:auto;
}
#mainSectionContact2 img{
	margin: 0 auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	float: right;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.divContactImage {
	width: 30%;
	float: center;
	border-radius: 10px;
	font-size: 100%;
	line-height: 20px;
	text-align: center;
	#margin-top: 5%;
	margin-bottom: 8%;
	min-width: 255px;
	margin-left: auto ;
	margin-right: auto ;
	border:1px solid grey;
}
.divContactImage img {
    max-width: 60px;
    height: auto;
    width: auto\9; /* ie8 */
	margin-right: 30px;
	#margin-bottom: 10px;
	vertical-align: middle; 
	display: inline-block;
}
.divContactImage span{
	float:center;
	vertical-align: top;
    display: block;
    text-align:left;
}
footer *{
	display:inline;
	vertical-align: middle;
}
.footerCls  img{
	margin: 0 auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	float: right;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}


.some-page-wrapper {
	display: flex;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.f-content-center {
	display: flex;
	justify-content: center;
}

.content {
	min-width: 300px;
}